bin/
build/
docs/doxygen
docs/javadoc
docs/source/javadoc
docs/build
docs/source/Behavioral
docs/source/Creational
docs/source/Structural
docs/source/*.gen.rst
docs/source/*_api.rst
.vscode/
.gradle/
__pycache__
.pytest_cache
.mypy_cache